/* css reset*/

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}


/* base height*/

html,body,main {
  height: 100%;
}


a:link,a:visited,a:hover,a:active {
    color: Black;
    text-decoration: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  letter-spacing: 0.5px;
}

h1 {
  font-weight:600;
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

p {
  margin-bottom: 0.5rem;
}
.home-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
}

.home-cover {
  background-image:white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100%; */
  display: flex;
  opacity: 0.9;
  align-items: flex-end;
  justify-content: center;
}
.name {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.content {
    padding: 1.5rem 3rem;
    background-color: white;
    color: #4a4a4a;
    width: 100%;
    flex: 2;
}

.subtitle {
  text-align: center;
}

.social {
  text-align: center;
  margin-top: 1.5rem;

}

.social a{
  text-decoration: none;

}

.social li{
  display: inline-block;
  margin: 0 0.5rem;
  font-size: 2rem;
  color: white;
}

.contact-email {
  margin-top: 0.5rem;
  text-align: center;
}

hr.custom-hr {
  margin: 30px 0;
  font-weight: 100;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.profile-img {
  border-radius: 50%;  
  margin-bottom: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;  
  height: 320px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.profile-img:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* social icon colors */

.fa-facebook, .fa-facebook-square {
    color: #3B5998;
}
.fa-twitter, .fa-twitter-square {
    color: #00aced
}
.fa-google-plus, .fa-google-plus-square {
    color: #DD5044
}
.fa-youtube, .fa-youtube-play, .fa-youtube-square {
    color: #bb0000
}
.fa-vimeo-square {
    color: #aad450
}
.fa-pinterest, .fa-pinterest-square {
    color: #cb2027
}
.fa-instagram {
    color: #DB2986;
}

.fa-linkedin {
  color: #007bb6;
}

.programmer {
  font-size: 2rem;
}
.designer {
  font-size: 2rem;
}

.photographer {
  font-size: 2rem;
  color: white;  /* Fallback: assume this color ON TOP of image */
  background: url(/img/bg.JPG) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: auto;
   }


@media screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .subtitle {
      text-align: left;
    }
    .content {
        padding: 1rem;
    }

    .name {
      font-size: 22px;
      margin-bottom: 0.5rem;
    }

    hr.custom-hr {
      margin: 15px 0;
    }

    .contact-email{
      font-size: 14px;
    }

    .profile-img {
      height: 120px;
      margin-bottom: 1rem;
    }

    .designer {
      font-size: 2rem;
      display: block;
    }

    .content strong {
      line-height: 40px;
      margin-bottom: 1rem;
    }

    
  }